@font-face {
    font-family: "Schwifty";
    src: url('/Assets/fonts/get-schwifty.ttf') format("TrueType");
}

* {
    box-sizing: border-box;
}

html {
    cursor: url('/Assets/img/portal-cursor.cur'), auto;
}

body {
    background-image: url('/Assets/img/bg01.jpg');
    height: 100vh;
    width: 100vw;
}